<h1>Twoje zajęcia</h1>

<table>
	<tr>
		<th>ID</th>
    	<th>Nazwa</th>
    	<th>ID uczestnika</th>
    	<th>Data</th>
  </tr>
 
  <% @schedule.each do |schedule| %>
    <tr>
    	<td><%= schedule.id %></td>
  		<td><%= schedule.name %></td>
  		<td><%= current_user.id %></td>
  		<td><%= schedule.date.strftime("%d-%m-%Y %H:%M") %></td>
    </tr>
  <% end %>
</table>