/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require dataTables/jquery.dataTables
 *= require dataTables/jquery.dataTables.bootstrap3
 *= require_self
 *= require_tree .
 */

 /* <%= stylesheets_link_tag "nazwapliku" %> */


body { 
  padding-top: 60px; 
  padding-right: 10px;
  padding-left: 10px;
}   


.container
{
  position: absolute;  
  z-index: 1px;
}
 
.form
{
  padding-top: 70px;
} 

/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}


.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  border: 1px solid #666;
  border-radius: 5px;
    -webkit-transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -moz-transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -ms-transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -o-transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}


.border-form-div input[type="text"],
.border-form-div input[type="password"]:focus {
    border: 1px solid #09c;
    box-shadow: 0 0 7px rgba(0, 200, 204, 0.7);
    outline: none;
}

.border-form-div input[type="email"]:focus {
  border: 1px solid #09c;
  box-shadow: 0 0 7px rgba(0, 200, 204, 0.7);
  outline: none;
}
